.button-modal {
  margin: 0 5px;
  cursor: pointer;
  i {
      font-weight: 500 !important;
      font-size: 20px !important;
      color: #228BF5 !important;
  }
}
.show-icon {
  display: block;
}
.remove-icon {
  display: none;
}
.procedure {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  table {
    width: 100%;
  }
}
.table-body {
  tr {
      border-bottom: 1px solid #0000001a;
      td {
          padding: 10px;
          color: #000;
      }
      .more-detail {
          text-align: center;
      }
  }
  tr:last-child {
      border-bottom: none;
  }
}
.ant-form-item{
  .ant-form-item-control-wrapper{
      .ant-form-item-control{
          .ant-form-item-children{
              .ant-calendar-picker{
                  width: -webkit-fill-available;
              }
          }
      }
  }
}
.title{
  width: 97%;
  .fix{
  display: flex;
  .search-header{
      .fix-box{
          .date-box{
              margin-left: 20px;
          }
      }
  }
}
}
.addition-box{
  .ant-calendar-picker{
      width: 50%;
  }
}
.ant-table-header-column{
  .ant-table-column-title{
      .custome-header{
          .title-box{
              padding-right: 0px;
          }
          .addition-box{
              padding-right: 0px;
          }
      }
  }
}
.validate {
  margin-top: 2px;
  margin-bottom: -22px;
  color: #f5222d;
  font-size: 14px !important;
}
